@model _24DH112073_MyStore.Models.ViewModel.LoginVM

@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<style>
    .accountbtn {
        width: 275px;
        height: 40px;
        border: 1px solid #808080;
        margin: 5px;
        align-items: center;
    }
</style>

<h2>Đăng nhập</h2>

@* Tạo form trỏ đến Action "Login" (POST) *@
@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h2 style="text-align:center;">Đăng nhập</h2>
    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Đăng nhập" class="btn btn-info accountbtn" />
        </div>
    </div>

    <p>
        Chưa Có Tài Khoản? @Html.ActionLink("Đăng ký ngay", "Register", "Account")
    </p>
}
