@model _24DH112073_MyStore.Models.ViewModel.ProductDetailsVM

@{
    ViewBag.Title = "ProductDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        .pro {
            padding: 50px 10px 50px 10px;
            background-color: ghostwhite;
        }

        .pro-section {
            background-color: white;
            border: 1px groove #ffffff;
            border-radius: 10px;
            padding: 5px;
            margin: 10px;
        }

            .pro-section img {
                max-height: 250px;
                max-width: 200px;
                padding: 5px;
            }

        .pro-price {
            font-weight: bolder;
            font-size: larger;
            color: red;
        }

        .pro-sale {
            font-weight: lighter;
        }
    </style>
</head>

<div class="container-fluid pro">
    <div class="row">
        @* Khối bên trái - Ảnh sản phẩm *@
        <div class="col-md-3 pro-section">
            <img src="@Url.Content(Model.product.ProductImage)" />
        </div>

        @* Khối ở giữa - Thông tin sản phẩm *@
        <div class="col-md-5 pro-section">
            <h4>@Html.DisplayFor(model => model.product.ProductName)</h4>
            <p class="pro-sale">Đã bán: &nbsp; @Model.product.OrderDetails.Count()</p>
            <p class="pro-price">@Model.product.ProductPrice.ToString("C")</p>
            <p>Tác giả/sách: &nbsp; @Model.product.Category.CategoryName</p>
            <hr />
            <h5>Mô tả</h5>
            <p>@Html.DisplayFor(model => model.product.ProductDecription)</p>

            @* Khối Related Product (Nhúng Partial) *@
            @Html.Partial("_PVRelatedProduct", Model)
        </div>

        @* Khối bên phải - Đặt hàng & Top Product *@
        <div class="col-md-3 pro-section">
            @* Phần tạm tính *@
            @using (Html.BeginForm("ProductDetails", "Home", FormMethod.Get))
            {
                <h4>Số lượng</h4>
                <p>@Html.TextBoxFor(model => model.quantity, new { @class = "form-control", @type = "number", @min = 1 })</p>
                <p><strong>Tạm tính: </strong> @((Model.product.ProductPrice * Model.quantity).ToString("N0"))</p>

                <p>
                    @Html.ActionLink("Thêm vào giỏ hàng", "AddToCart", "Cart",
                        new { id = Model.product.ProductID, quantity = Model.quantity },
                        new { @class = "btn btn-info" })
                </p>
            }
            <hr />

            @* Khối Top Product (Nhúng Partial) *@
            @Html.Partial("_PVTopProduct", Model)
        </div>
    </div>
</div>
