@model _24DH112073_MyStore.Models.Category

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="bg-success">CẬP NHẬT DANH MỤC</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CategoryID)

        @* Nhúng Partial View vào form cha *@
        @Html.Partial("PVCreateEditCategory", Model)
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}