@model _24DH112073_MyStore.Models.ViewModel.ProductDetailsVM
@using PagedList.Mvc;

@if (Model.TopProducts != null && Model.TopProducts.Any())
{
    <section class="container-fluid listProduct">
        @* Tái sử dụng CSS từ trang Home *@
        <h4 style="font-weight:bold;">Sản phẩm bán chạy</h4>
        <ul class_container" style="display:block;">
            @* Sửa lại style cho phù hợp *@
            @foreach (var product in Model.TopProducts)
            {
                <li class="lproduct-item" style="max-height:fit-content; border:none;">
                    @* Tái sử dụng CSS *@
                    <div>
                        <a href="@Url.Action("ProductDetails", "Home", new { id = product.ProductID })">
                            <img src="@Url.Content(product.ProductImage)" style="max-height:80px;" />
                        </a>
                    </div>
                    <div>
                        <p>@Html.DisplayFor(modelItem => product.ProductName)</p>
                        <p class="prodPrice">@Html.DisplayFor(modelItem => product.ProductPrice)</p>
                    </div>
                </li>
            }
        </ul>
    </section>

    <div class="pagination-container">
        @Html.PagedListPager(Model.TopProducts, page => Url.Action("ProductDetails",
            new { id = Model.product.ProductID, quantity = Model.quantity, page = page }))
    </div>
}
